
<div class="page">
    <div class="page__title-wrapper">
        <h1 class="page__title">Register a new user</h1>
    </div>
    
    <div class="register-wrapper wrapper">
        <form class="register wrapper__col" 
                autocomplete="off"
                [formGroup]="form"
                (ngSubmit)="onSubmit()">
            <div class="register__field">
                <input class="register__input" formControlName="email">
                <label class="register__label" for="email"><span>Email</span></label>
                <span class="register__error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                    <span *ngIf="form.get('email')?.errors?.required">Email cannot be empty</span>
                    <span *ngIf="form.get('email')?.errors?.email">Email is not valid</span>
                </span>
            </div>
            <div class="register__field">
                <input type="password" class="register__input" formControlName="password">
                <label for="password" class="register__label"><span>Пароль</span></label>
                <span class="register__error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                    <span *ngIf="form.get('password')?.errors?.required">Password cannot be empty</span>
                    <span *ngIf="form.get('password')?.errors?.minlength?.requiredLength">Password should be longer than {{form.get('password')?.errors?.minlength?.requiredLength}} symbols</span>
                </span>
            </div>
            <div class="actions-wrapper">
                <button type="submit" class="form__submit button" name="send" id="send" [disabled]="form.invalid || form.disabled">
                    Submit        
                </button>
            </div>
        </form>

    </div>
</div>