@import '../../../../sass/style'

.header
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-top: 32px
  padding: 24px 32px
  background-color: $color-milk-white
  z-index: 100

  &__title
    color: $color-red
    font-weight: 700
  &__menu
    display: flex
    flex-direction: row
    padding-right: 24px
  &__menu-item
    padding: 12px 12px
  &__profile
    width: 25%
    position: relative

  &__cart-items
    background-color: $color-green
    border-radius: 50%
    font-size: 12px
    position: absolute
    padding: 2px 8px
    top: 22px
    left: 37px
