@import '../../../../sass/style'

.header
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-top: 32px
  background-color: $color-white
  padding: 24px 32px
  border-radius: 12px 12px 0 0 

  &__logo

  &__title
    color: $color-red
    font-weight: 700
  &__menu
    display: flex
    flex-direction: row
  &__menu-item
    padding: 12px 24px
