<div class="header">
    <div class="header__logo">
      <h1 class="header__title">{{title}}</h1>
    </div>
    <ul class="header__menu">
      <li><a class="header__menu-item" routerLink="/">Home</a></li>
      <li routerLinkActive="active">
        <a class="header__menu-item dropbtn" routerLink="/catalog">Catalog</a>
      </li>
    </ul>
    <div class="header__profile">
      <ul class="header__menu">
        <li routerLinkActive="active" *ngIf="!isAuth"><a class="header__menu-item" routerLink="/auth/login">Login</a></li>
        <li routerLinkActive="active" *ngIf="!isAuth"><a class="header__menu-item" routerLink="/auth/register">Register</a></li>
        <li>
          <a class="header__menu-item header__profile" *ngIf="isAuth" routerLink="/basket">
            <img src="assets/images/cart.png" width="32px" alt="Basket" />
            <span class="header__cart-items" *ngIf="getCartItemsCount()>0">{{getCartItemsCount()}}</span>
          </a>
        </li>
        <li>
          <a class="header__menu-item header__profile" *ngIf="isAuth" routerLink="/profile/overview">
            <img src="assets/images/profile_icon.png" width="32px" alt="User profile"/>
          </a>
        </li>
        <li><a class="header__menu-item" href="#" (click)="logout($event)" *ngIf="isAuth">Logout</a></li>
      </ul>
    </div>
  </div>