.cart-page
  padding: 48px

.cart-items
  display: flex
  flex-direction: column
  width: 100%

.cart-items__row
  display: flex
  flex-direction: row

.cart-items__row span
  width: 25%
  text-weight: 400