
<div class="page">
    <div class="page__title-wrapper">
        <h1 class="page__title">Add new product</h1>
    </div>
    
    <div class="form-wrapper wrapper">
        <form class="form wrapper__col" 
                autocomplete="off"
                [formGroup]="form"
                (ngSubmit)="onSubmit()">
            <div class="form__field">
                <input class="form__input" formControlName="_id" type="hidden">
                <input class="form__input" formControlName="__v" type="hidden">
                <label class="form__label" for="name"><span>Name</span></label>
                <input class="form__input" formControlName="name">
                <span class="form__error" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                    <span *ngIf="form.get('name')?.errors?.required">Name cannot be empty</span>
                </span>
            </div>
            <div class="form__field">
                <label class="form__label" for="description"><span>Description</span></label>
                <input class="form__input" formControlName="description">
            </div>
            <div class="form__field">
                <label class="form__label" for="cost"><span>Cost</span></label>
                <input class="form__input" formControlName="cost" type="number">
            </div>
            <div class="form__field">
                <label class="form__label" for="category"><span>Category</span></label>
                <select formControlName="category">
                    <option value="0">Choose category</option>
                    <option *ngFor="let category of categories" [ngValue]="category._id">{{category.name}}</option>
                 </select>
            </div>
            <div class="form__field">
                <label class="form__label" for="imageSmall"><span>Small Image</span></label>
                <input class="form__input" name="imageSmall" formControlName="imageSmall" type="file"  (change)="onFileSelect($event)">
            </div>
            <div class="form__field">
                <label class="form__label" for="imageBig"><span>Big Image</span></label>
                <input class="form__input" name="imageBig" formControlName="imageBig" type="file"  (change)="onFileSelect($event)">
            </div>
            <div class="actions-wrapper">
                <button type="submit" class="form__submit button" name="send" id="send" >
                    Submit        
                </button>
            </div>
        </form>
    </div>

    <div class="list">
        <div class="list__header">
            <div class="list__cell list__cell--25">Name</div>
            <div class="list__cell list__cell--25">Cost</div>
            <div class="list__cell list__cell--50">Description</div>
        </div>

        <div class="list__row" *ngFor="let product of products" >
            <div class="list__cell list__cell--25">{{product.name}}</div>
            <div class="list__cell list__cell--25">{{product.cost}}</div>
            <div class="list__cell list__cell--25">{{product.description}}</div>
            <div class="list__cell list__cell--25">
                <button class="button" (click)="onSelectProduct(product)">Edit</button>
                <button class="button button--red" (click)="onDeleteProduct(product)">Delete</button>
            </div>
        </div>
    </div>
</div>