.auto-complete-input 
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  outline: none
  color: #0c1026
  display: block
  width: 100%
  padding: 0 16px
  background: #fff
  border: 1px solid #767676
  border-radius: 3px
  height: 48px
  line-height: normal
  -webkit-transition: border-color 1s
  transition: border-color 1s