<div class="product-details">
    
    <div class="product-details__left-col">
      <div class="product-details__content">
        <h2 class="product-detail__title">{{ product?.name }}</h2>
        <h3 class="product-detail__subtitle">{{product?.category?.name}}</h3>
      </div>
  
      <div>
        <p> {{product?.description}} </p>
      </div>

      <div class="product-details__add-to-basket button-wrap">
        <span>{{product?.cost | currency}}</span>
        <button class="basket-icon-wrap" (click)="addToCart()">Buy</button>  
      </div>
      
    </div>
    <div  class="product-details__right-col">
      <img class="product-details__img" [src]="product?.imageBig" [alt]="product?.name" height="400px">
    </div>
  
  </div>