<div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="https://g1.delphi.lv/images/pix/676x385/DXyr8AbhY-o/brokastis-ediens-galds-rokas-48942491.jpg">Slide 1</ng-template>
    <ng-template carouselSlide><img src="https://g1.delphi.lv/images/pix/676x385/DXyr8AbhY-o/brokastis-ediens-galds-rokas-48942491.jpg">Slide 2</ng-template>
    <ng-template carouselSlide><img src="https://g1.delphi.lv/images/pix/676x385/DXyr8AbhY-o/brokastis-ediens-galds-rokas-48942491.jpg">Slide 3</ng-template>
</owl-carousel-o>
<div>Some tags after</div>
