<owl-carousel-o [options]="customOptions"class="owl">
    <ng-template carouselSlide [width]="600"><img src="assets/images/carousel.jpg" height="300"></ng-template>
    <ng-template carouselSlide [width]="600"><img src="assets/images/carousel2.jpg" height="300"></ng-template>
    <ng-template carouselSlide [width]="600"><img src="assets/images/carousel3.jpg" height="300"></ng-template>
    <ng-template carouselSlide [width]="600"><img src="assets/images/carousel4.jpg" height="300"></ng-template>
    <ng-template carouselSlide [width]="600"><img src="assets/images/carousel5.jpg" height="300"></ng-template>
</owl-carousel-o>
